  <div class="container text-center">
  <p><a class="btn btn-primary btn-lg text-center" href="category/new" role="button">Add a New Category</a></p>
   </div>


<div class="container">
  <h1>Categories</h1>
    <% categories.forEach(function(category){ %>
      <div class="well">
        <h2><%= category.name %></h2>
        <a href="/category/"><%= category.name %></a>
<!--         <form method="POST" action="/pokemon/delete">
        <input hidden type="text" name="name" value="<%= category.categoryName %>">
        <button class="btn btn-danger" name="delete-link">Delete Category</button>
      </form> -->
      </div>
    <% }); %>
</div>
