<div class="jumbotron">
  <h1>Twittergories</h1>
  <p>Be an active participant in the topics that matter to you. Easily search for topics and our algorithms scour the Twittersphere to determine a crowd-sourced definition, giving you insight into the way the world thinks at this moment in time. Save the results as a continuosly updating stream.</p>
  <div class="container text-center">
  <p><a class="btn btn-primary btn-lg" href="/auth/signup" role="button">Sign up</a></p>
  <p><a class="btn btn-primary btn-lg text-center" href="/auth/login" role="button">Log in</a></p>
   </div>
</div>


<!-- <a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a> -->
